@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Major+Mono+Display&display=swap');

body {
  font-family: "monospace";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Major Mono Display", monospace;
}

.small {
  font-weight: 300;
  font-style: italic;
}
