@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Major+Mono+Display&display=swap');

body {
  font-family: "monospace";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Major Mono Display", monospace;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 1;
}